<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
	<head>
		<meta charset="utf-8" />
		<title>Apache Wicket Quickstart</title>
		<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="Stylesheet" />
	</head>
	<body>
		<div id="hd">
			<div id="logo">
				<img src="logo.png" width="50px" height="50px" alt="Wicket Logo" />
				<h1>Vuecket = VueJS + Apache Wicket</h1>
			</div>
		</div>
		<div id="bd">
			<div wicket:id="app">
				<div v-for="(m, index) in messages">
					<h5>{{ index }}: {{ new Date(m.date) }}</h5>
					<vue-markdown :source="m.message"></vue-markdown>
				</div>
				<textarea v-model="text" 
						  style="width:100%" 
						  rows="5" 
						  @keyup.ctrl.enter="addMessage"
						  placeholder="Enter message and Ctrl-Enter to add the message">
				 </textarea>
				<vue-markdown wicket:id="markdown" :source="text">Will be replaced</vue-markdown>
			</div>
		</div>
		<div id="ft">
		</div>
	</body>
</html>
